.contenedor3{
    border: 3px solid black;
     width: 600px;
     height: 120px;
     display: flex;
     text-align:center;
     justify-content:space-between;
    }
  
  .item1{  
      background-color:springgreen;
      width: 100px;
      height: 100px;
      margin: 10px;
      font-size: 30px;
  }
  
  .item2{
      background-color:paleturquoise;
      width: 100px;
      height: 100px;
      margin: 10px;
      font-size: 30px;
  }
  
  .item3{
      background-color:indianred;
      width: 100px;
      height: 100px;
      margin: 10px;
      font-size: 30px;
  }
  
  