.contenedor1{
    border: 3px solid black;
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction:column;
    align-items: end;
    text-align:center;
}

.item1{  
    background-color:springgreen;
    width: 100px;
    height: 100px;
    margin: 10px;
    font-size: 30px;
}

.item2{
    background-color:paleturquoise;
    width: 100px;
    height: 100px;
    margin: 10px;
    font-size: 30px;
}

.item3{
    background-color:indianred;
    width: 100px;
    height: 100px;
    margin: 10px;
    font-size: 30px;
}

